.calendar
{
  text-align:center;
  margin: 0px !important;
}
.calendar #day-1,
.calendar #day-2,
.calendar #day-3,
.calendar #day-4,
.calendar #day-5,
.calendar #day-6,
.calendar #day-7
{
	display:inline-block;
	width: 3.1em;
	text-align: left;
}
.calendar .day-header
{
	color: #777f88;
	background-color: #2323ac;
	border: 1px solid black;
	padding: 3px;
	text-align: center;
}
.calendar #day-6 .day-header,
.calendar #day-7 .day-header
{
	background-color: #ac3023;
}
.calendar .day
{
	margin-top: 2px;
	border: 1px solid black;
	text-align: center;
}
.calendar .day .number
{
	font-size: 0.7em;
	background-color: #171a21;
	padding: 1px;
	margin: 0px;
}
.calendar .day .amount
{
	display: inline-block;
	padding: 1px;
	font-size: 0.8em;
}
.calendar .day.empty
{
	border: 1px solid #212d36;
}
.calendar .day.empty .number
{
	background-color: inherit;
}
.calendar .day.active .number
{
	background-color: #101060;
}
.ui-btn.ui-btn-nocolor
{
	background:none;
	border:none;
}